	<form >
		<h3>Шаблон письма</h3>

		<div >
			<label  for="subject">Тема письма: </label>
			<div >
				<input  type="text" id="subject" name="subject" v-model="subject"/>
			</div>
		</div>

		<div >
			<label >Текст письма: </label>
			<div >
				<textarea  name="message" id="message" rows="25" cols="80" v-model="template"></textarea>
			</div>
		</div>

		<div class="bs-example">
			<input class="btn btn-default" type="button" @click="save" value="Сохранить"/>
		</div>
		{{template}}
	</form>
