<section>
    <h3>Данные пользователя:</h3>
    <form>
        <label for="name">Имя: </label>
        <input type="text" id="name" name="name" placeholder="Имя пользователя"
               v-model="username" @input="onUserDataChange"/>
        <label for="password">Пароль: </label>
        <input type="password" id="password" name="password" placeholder="Пароль"
               v-model="password" @input="onUserDataChange"/>
        <br/>
        <label for="file">Загрузить username и password из файла (.csv):</label>
        <input type="file" id="file" multiple accept="text/csv" @change="onAuthSourcesChange"/>
    </form>
</section>
