<blockquote>
	<h3>Данные сервера</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-1 control-label" for="hostname">Сервер: </label>
			<div class="col-sm-3">
				<input class="form-control" type="text" id="hostname" name="hostname" v-model="hostname"
							 placeholder="Сервер почты" size="25"
							 @input="onHostnameChange"/>
			</div>
			<label class="col-sm-1 control-label" for="port">Порт: </label>
			<div class="col-sm-3">
				<input class="form-control" type="number" id="port" name="port" v-model="port" min="1" max="65535" size="5"
							 placeholder="Порт доступа"
							 @input="onPortChange"/>
			</div>
			<label class="col-sm-1 control-label" for="ssl">SSL: </label>
			<div class="col-sm-3">
				<input type="checkbox" id="ssl" name="ssl" v-model="ssl" @input="onSSLChange"/>
			</div>
		</div>
	</form>
</blockquote>
