<section>
    <h3>Данные для отправки:</h3>

    <form>
        <label for="file">Список для рассылки:</label>
        <input type="file" id="file" multiple accept="text/csv" @change="onSourcesChange"/>
    </form>

    <section v-show="files.length">
        <h4>Файлов с данными: {{files.length}}</h4>

        <ol>
            <li v-for="(file, index) of files">
                <button type="button" title="Удалить источник" @click="sourceDelete(index)">
                    <span>&times;</span>
                </button>
                {{file.name}}
            </li>
        </ol>

        <table border="1">
            <thead>Адресатов: {{data.length}}</thead>
            <tbody>
            <tr>
                <th>Email</th>
                <th v-for="field of fields">{{field}}</th>
                <th></th>
                <th></th>
            </tr>
            <tr v-for="(item, index) of data">
                <td :class="{'danger': !item.email }">{{item.email}}</td>
                <td :class="{'warning': !item[field] }" v-for="field of fields">{{item[field]}}</td>
                <td>
                    <button type="button" title="Просмотреть письмо" @click="previewItemMail(index)">
                        <span>&#x2709;</span>
                    </button>
                </td>
                <td>
                    <button type="button" title="Удалить элемент" @click="itemDelete(index)">
                        <span>&times;</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

</section>
