<div class="hello">
    <input type="file" id="file" multiple accept="text/csv" @change="onChange"/>

    <ol v-show="files.length">
        Файлов с адресами: {{files.length}}
        <li v-for="file of files">{{file.name}}</li>
    </ol>

    <table v-show="data.length" border="1">
        <thead>Адресатов: {{data.length}}</thead>
        <tbody>
        <tr>
            <th>Email</th>
            <th v-for="field of fields">{{field}}</th>
        </tr>
        <tr v-for="(item, index ) of data">
            <td >{{item.email}}</td>
            <td v-for="field of fields">{{item[field]}}</td>
            <td @click="itemDelete(index)">x</td>
        </tr>
        </tbody>
    </table>

</div>