<blockquote>
	<h3>Данные пользователя:</h3>
	<form>
		<label class="col-sm-1 control-label" for="name">Имя: </label>
		<input class="form-control" type="text" id="name" name="name" v-model="username" placeholder="Имя пользователя"
					 @input="onUsernameChange"/>
		<label class="col-sm-1 control-label" for="password">Пароль: </label>
		<input class="form-control" type="password" id="password" name="password" placeholder="Пароль"
					 v-model="password"
					 @input="onPasswordChange"/>
	</form>

</blockquote>
